<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a routerLink="/login">Overview <span class="sr-only">(current)</span></a></li>
                <li><a routerLink="/reports">แก้ไขข้อความที่แสดงในระบบ</a></li>
                <li><a routerLink="/editbusstop">เส้นทาง</a></li>
                <li><a routerLink="/editbusstop">ป้ายรถ</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <!--<li><a routerLink="/editroute">แก้ไข เส้นทาง</a></li>-->
                <li><a data-toggle="collapse" href="#collapse1">แก้ไขป้ายจอดรถ</a></li>
                <div id="collapse1" class="collapse">
                    <div class="row">
                        <ul>
                            <li><a routerLink="/editroute">สายที่ 1</a></li>
                            <li><a routerLink="/editroute">สายที่ 2</a></li>
                            <li><a routerLink="/editroute">สายที่ 3</a></li>
                        </ul>
                    </div>
                </div>
                <!--<li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>-->
            </ul>
        </div>
        <div class="col-md-10">
            <p-growl [value]="msgs"></p-growl>
            <h3 class="first">ชื่อเส้นทาง</h3>
            <input id="in" type="text" size="30" pInputText [(ngModel)]="text" />
            <h3 class="first">รายละเอียด</h3>
            <p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>
            <p>{{text}}</p>
            <p>Value: {{text1||'empty'}}</p>

            <button pButton type="button" label="Clear" icon="fa-close" (click)="clear()"></button>
            <button pButton type="button" label="Save" icon="fa-check" (click)="save()"></button>

            <hr style="border-top:0px;border-color:#dde3e6">

<!--<h3>Custom Toolbar</h3>
<p-editor [(ngModel)]="text2" [style]="{'height':'320px'}">
    <p-header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>
    </p-header>
</p-editor>
<p>Value: {{text2||'empty'}}</p>

<button pButton type="button" label="Clear" icon="fa-close" (click)="text2=null"></button>-->
</div>
</div>
</div>