<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a routerLink="/login">Overview <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/reports">แก้ไขข้อความที่แสดงในระบบ</a></li>
        <li><a routerLink="/editbusstop">เส้นทาง</a></li>
        <li><a routerLink="/editbusstop">ป้ายรถ</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <!--<li><a routerLink="/editroute">แก้ไข เส้นทาง</a></li>-->
        <li><a data-toggle="collapse" href="#collapse1">แก้ไขป้ายจอดรถ</a></li>
        <div id="collapse1" class="collapse">
          <div class="row">
          <ul>
            <li><a routerLink="/editroute">สายที่ 1</a></li>
            <li><a routerLink="/editroute">สายที่ 2</a></li>
            <li><a routerLink="/editroute">สายที่ 3</a></li>
          </ul>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-10">
      <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true"
        [rows]="15" [responsive]="true">
        <p-header>ตำแหน่งป้ายจอดรถ สายที่ 1</p-header>
        <p-column field="id" header="ลำดับที่" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="name" header="ชื่อ" [sortable]="true"></p-column>
        <p-column field="latitude" header="latitude" [sortable]="true"></p-column>
        <p-column field="longitude" header="longitude" [sortable]="true"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
</div>
</p-footer>
</p-dataTable>

<p-dialog header="Bus Stop Detail" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="car">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="id">ลำดับที่</label></div>
      <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.id" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">ชื่อ</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="car.name" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="latitude">latitude</label></div>
      <div class="ui-grid-col-8"><input pInputText id="latitude" [(ngModel)]="car.latitude" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="longitude">longitude</label></div>
      <div class="ui-grid-col-8"><input pInputText id="longitude" [(ngModel)]="car.longitude" /></div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </footer>
</p-dialog>
</div>
</div>
</div>